:root {
    --clr-primary-black: rgba(12, 12, 12, 1);
    --clr-primary-white: rgba(241, 247, 255, 1);
    --clr-primary-orange: rgba(217, 166, 26, 1);
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/intervariable.ttf') format('truetype'), url('/fonts/inter/intervariable.woff2') format('woff2');
}

@font-face {
    font-family: 'Rimma';
    src: url('/fonts/rimma/rimma-sans-bold.ttf') format('truetype'), url('/fonts/rimma/rimma-sans-bold.woff2') format('woff2');
}

body {
    background-color: var(--clr-primary-black);
    color: var(--clr-primary-white);
    font-family: 'Inter';
    font-style: normal;
}

.container-body {
    width: fit-content;
    margin: 0 auto;
    max-width: 1600px;
}

.container-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-row-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-logo-name, .container-header-phone {
    font-size: 20px;
    line-height: 24px;
}

.container-header-menu {
    display: flex;
    gap: 2.6054vw;
}

.container-header-menu-item, .container-header-phone {
    color: var(--clr-primary-white);
    text-decoration: none;
}

.container-header-menu-item {
    font-size: 18px;
    line-height: 20px;
}

.container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo-slogan {
    display: flex;
    flex-direction: column;
    font-size: 1.65vw;
    line-height: 1.66vw;
    width: 45%;
    max-width: 805px;
    padding-right: 6vw;
}

    .container-logo-slogan :first-child {
        margin-left: 17%;
    }

    .container-logo-slogan :last-child {
        margin-right: -10%;
    }

.container-logo-name {
    font-family: Rimma;
    font-size: 10vw;
    line-height: 10vw; /*5.5vw;*/
    color: var(--clr-primary-orange);
}

.container-header-logo-item {
    height: 2.3vw;
    font-size: 1.875vw;
    color: var(--clr-primary-black);
    background-color: var(--clr-primary-orange);
    display: flex;
    /*gap: 0.5vw;*/
}

    .container-header-logo-item > img {
        margin: 0.25vw;
    }

    .container-header-logo-item > span {
        margin: 0 0.5vw;
    }

.container-header-logo-item2 {
    height: 2.3vw;
    font-size: 1.875vw;
    display: flex;
}

    .container-header-logo-item2 > img {
        margin: 0.25vw;
        filter: invert(65%) sepia(97%) saturate(421%) hue-rotate(358deg) brightness(90%) contrast(89%);
    }

.container-row-logo-margin {
    margin-bottom: -1.7vw;
}

.container-shape {
    /*margin-top: -6vw;*/
    width: 67%;
    max-width: 1072px;
}

.container-title {
    margin: 0 auto;
    font-family: 'Rimma';
    font-weight: 700;
    font-size: 2.60417vw;
    line-height: 2.60417vw;
}

.container-title-shape {
    position: absolute;
    width: 100%;
    bottom: 8vw;
    font-family: 'Rimma';
    font-weight: 700;
    font-size: 3vw;
    line-height: 3vw;
    text-align: center;
}

.container-why-choose-us-cards {
    display: flex;
    width: 100%;
    height: 33.3346vw;
    max-height: 640px;
}

    .container-why-choose-us-cards > .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15.077vw;
        height: 15.077vw;
        background-color: rgba(233, 240, 248, 0.1);
        max-height: 320px;
        font-family: 'Rimma';
        font-weight: 700;
        font-size: 1vw;
        line-height: 1vw;
        padding: 0.8vw;
    }

        .container-why-choose-us-cards > .card > span.secondary {
            font-family: 'Inter';
            font-weight: 600;
            color: rgba(233, 240, 248, 0.3);
        }

.container-icons {
    display: flex;
    width: 100%;
    justify-content: center;
}

    .container-icons > .container-icon {
        display: flex;
        flex-direction: column;
        width: 15.077vw;
        align-items: center;
        padding: 3.2vw 0.8vw;
    }

        .container-icons > .container-icon > .icon {
            border-radius: 50%;
            background-color: rgba(233, 240, 248, 0.1);
            width: 9vw;
            height: 9vw;
            display: flex;
            align-items: center;
        }

            .container-icons > .container-icon > .icon > img {
                width: 75%;
                height: 75%;
                margin: 0 auto;
            }

        .container-icons > .container-icon > .icon-num {
            font-size: 2.25vw;
            margin-top: 2vw;
            font-family: 'Rimma';
            font-weight: 700;
            color: rgba(233, 240, 248, 0.3);
        }


.container-services {
    width: 100%;
}

.container-services-row {
    display: flex;
    gap: 1vw;
    padding: 1vw 0;
    border-bottom: 1px solid rgba(233, 240, 248, 0.3);
    width: 75.385vw;
    margin: 0 auto;
}
    .container-services-row:first-child {
        border-top: 1px solid rgba(233, 240, 248, 0.3);
    }

    .container-services-row > span {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 2vw;
        line-height: 2vw;
    }

        .container-services-row > span.number {
            width: 4vw;
            text-align: center;
            color: rgba(233, 240, 248, 0.3);
        }

        .container-services-row > span.name {
            width: 80%;
            color: rgba(241, 247, 255, 1);
        }

        .container-services-row > span.price {
            width: 15vw;
            text-align: right;
            font-size: 1.5vw;
            color: rgba(241, 247, 255, 1);
            margin-right: 1.5vw;
        }


.button-contact-us {
    margin: 0 auto;
    border: 1px solid rgba(217, 166, 26, 1);
    border-radius: 0.5vw;
    padding: 1vw 2vw;
}

.yandex-reviews {
    overflow: hidden;
    position: relative;
    margin: 4vw auto;
    width: 64vw;
    max-width: 760px;
    height: 800px;
}

@media screen and (min-width: 1920px) {
    .container-logo-slogan {
        font-size: 32px;
        line-height: 34px;
        padding-right: 115px;
    }

    .container-logo-name {
        font-size: 192px;
        line-height: 192px; /*110px;*/
    }

    .container-header-logo-item, .container-header-logo-item2 {
        height: 44px;
        font-size: 36px;
    }

    .container-row-logo-margin {
        margin-bottom: -33px;
    }

    /* .container-shape {
        margin-top: -116px;
    }*/


    .container-title {
        font-size: 50px;
        line-height: 50px;
    }

    .container-why-choose-us-cards > .card {
        width: 290px;
        height: 290px;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
    }

    .container-icons > .container-icon {
        width: 290px;
        padding: 60px 15px;
    }

    .container-services-row {
    }
}
/*@media screen and (min-width: 1025px) and (min-width: 1400px) {
    .container-logo-name {
        font-size: 158px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container-logo-name {
        font-size: 118px;
    }
}*/

@media screen and (min-width: 391px) and (max-width: 768px) {
    .container-header-logo-name, .container-header-phone {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 390px) {
    .container-header-logo-name, .container-header-phone {
        font-size: 18px;
        line-height: 22px;
    }
}
