@import url('fonts/rimma/rimma-sans-bold.css');

:root {
    --clr-primary-black: rgba(12, 12, 12, 1);
    --clr-primary-white: rgba(241, 247, 255, 1);
    --clr-primary-orange: rgba(217, 166, 26, 1);
}



body {
    background-color: var(--clr-primary-black);
    color: var(--clr-primary-white);
    font-family: 'Rimma_sans';
    font-style: normal;
}


.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'RimmaSansBold';
}

    .header-logo > img.logo {
        width: 100%;
        margin: 0 200px;
        max-width: 1520px;
    }

    .header-logo > img.slogan {
        width: 714px;
    }

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .header-logo > img.logo {
        margin: 0 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-logo > img.logo {
        margin: 0 20px;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .header-logo > img.logo {
        margin: 0 20px;
    }
}

@media screen and (max-width: 390px) {
    .header-logo > img.logo {
        margin: 0 15px;
    }
}
